////
/// VCard
/// @group components
/// @author Marco Borsoi <marco.borsoi@valtech.com>

.v-card {
  background-color: #ffffff;
  box-shadow: rgba(59, 63, 73, 0.15) 0px 4px 8px 0px;
  display: block;
  padding: 12px;
}
